body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 66%;
    margin: auto;
    padding: 15px;

    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px;
}

html {
    background: #e8e8e8;
    height: 100%;
}

h3 {
   font-size: 32px;
   color: #272727;
}

input[type="text"] {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #c1bfbf;
    box-shadow: 0px 2px 2px #c3c3c3;
}

input[type="submit"] {
    background: #03A9F4;
    padding: 6px 15px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
}

a {
  color: #00B7FF;
}

.homeworkItem{
	list-style:none;
}

.homeworkTitle{
	font-weight:bold;
	font-size:150%;
}

.homeworkDescription{
	padding-left:5%;
}

.icon{
	width:20px;
}
